@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../ember-right-click-menu/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.ember-right-click-menu {
  display: none;
}

.ember-right-click-menu[data-show] {
  display: block;
}

.ember-right-click-menu {
  margin: 0;
  list-style-type: none;
  padding: 0;
  border-radius: 0.3em;
  border: 1px solid #f5f5f5;
  background-color: white;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  white-space: nowrap;
}

.ember-right-click-menu__item {
  display: grid;
  grid-template-columns: 1fr max-content;
  font-size: 0.9rem;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
}

.ember-right-click-menu__item:hover {
  background: #f5f5f5;
}

.ember-right-click-menu__item:first-child {
  border-radius: 0.3em 0.3em 0 0;
}

.ember-right-click-menu__item:last-child {
  border-radius: 0 0 0.3em 0.3em;
}

.ember-right-click-menu__item--divider {
  border-bottom: 1px solid #e0e0e0;
}

.ember-right-click-menu__item--disabled {
  color: #bdbdbd;
  cursor: not-allowed;
}

.ember-right-click-menu__item--disabled:hover {
  background-color: initial;
}

.ember-right-click-menu__item--chevron {
  grid-template-columns: 1fr 2em;
}
